@import "variables";

// Variables

$primary: $bleach-blue;
$primary-rgb: $bleach-blue-rgb;
$secondary: $bleach-scarpa;
$secondary-rgb: $bleach-scarpa-rgb;

// 20. Forms
// ---------

$input-placeholder-color: $bleach-dark-blue;

$bleach-light-gray: #f6f6f6;
$bleach-dark-gray: #343a40;
$bleach-light-gray-dark: #fbf7f4;

// 53. Title Bar
// -------------

$titlebar-background: $white;
