$footer-bg: var(--footer);
$footer-color: $bleach-light-blue;
$footer-link-color: #fff;
$footer-link-hover: var(--anchor-hover);

//Main footer
.main-footer{
  background-color: $footer-bg;
  position: relative;
  padding: 1rem 0;
  min-height: 76px;
}

.main-footer,
.mini-footer{
  background-color: $footer-bg;
  color: $footer-color;

  a{
    color: $footer-link-color;
    font-weight: bold;

    &:hover,
    &:focus{
      color: $footer-link-hover;
    }
  }
}

.main-footer__badge{
  display: inline-block;
  width: 140px;

  @include breakpoint(large){
    position: static;
  }

  @include breakpoint(small){
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
